body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
  font-weight: 400;
  color: #1d1d1d;
  background-color: #fafafa;
  margin-top: 2em;
}

a:link, a:visited, a:hover, a:active {
    color: rgb(51, 56, 74);
}

.container {
    text-align: center;
    width: 50%;
}

img#aaron {
    max-width:  120px;
    text-align: right;
}

h2 {
    font-weight: 400;
}

ul {
    text-align: left;
    padding-left: 2em;
}

