body { 
    background-color: #fafafa;
    color: #1d1d1d;
    margin: 2em;
}

.container {
  padding-top: 2em;
}

.row {
    margin-top: 1em;
}

section {
    margin-top: 2em;
}

ul#contact-info li {
    margin-bottom: 0em;
}

ul#summary li {
    margin-bottom: 0.7em;
}

ul, ul ul {
    list-style-type: none;
    font-size: 1.0em;
} 

ul.accomplishments {
    margin-top: 1em;
    list-style-type: disc;
}

a:visited, a:link, a:hover {
  color: #1d1d1d;
}

.timeframe {
    font-style: italic;
}

span.timeframe {
    float: right;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  font-style: normal;
}

h4 {
    font-size: 1.2em;
    margin: 0em;
    display: inline;
}

ul.multicolumn_list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

@media screen and (max-width: 500px) {

  ul.multicolumn_list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  header, h2,h3,h4,em,.timeframe {
    text-align: center;
    display: block;
  }
  .container {
    padding: 0;
  }
  #summary, section {
    margin-top: 0em;
  }
  span.timeframe {
    float: none;
  }
}

@media print {

  @page { size: portrait }

  /* cause content to display in a single column with less dead whitespace */
  .container {
    width: 800px
  }

  /* column-count doesn't work when printing in chrome
     https://code.google.com/p/chromium/issues/detail?id=99358
   */

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
}
