body {
  background-color: white;
  color: #222;
  font-size: 0.9em;
}

.container {
  padding: 1em;
}

a:visited, a:link, a:hover {
  color: #003;
}

#summary {
  margin-top: 2em;
}

.timeframe {
  font-style: italic;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  font-style: italic;
}

h4 {
  font-size: 1.2em;
}

ul.accomplishments {
  list-style-type: circle;
}

ul ul {
  font-size: 100%;
}

ul.multicolumn_list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

@media screen and (max-width: 500px) {

  ul.multicolumn_list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  header, h2,h3,h4,em,.timeframe {
    text-align: center;
    display: block;
  }
  .container {
    padding: 0;
  }

}

@media print {

  /* column-count doesn't work when printing
     https://code.google.com/p/chromium/issues/detail?id=99358
   */
  ul.multicolumn_list {
    width: 100%;
  }

  ul.multicolumn_list li {
    float: left;
    width: 25%;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
}
