---
title: Aaron Evans
---

<!DOCTYPE HTML>
<html>
  <head>
    <title>Aaron Evans - Resume</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <style>
      {% include resume.css %}
    </style>
  </head>
  <body>
    <header>
      <div itemscope itemtype="http://data-vocabulary.org/Person">
        <div class="contact">
          <div class="twocolumn">
            <div class="left">
              <h2><span itermprop="name">Aaron Evans</span></h2>
              <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                <span itemprop="street-address">
                  7054 13th Ave NW
                </span>
                ,
                <span itemprop="locality">
                  Seattle
                </span>
                , 
                <span itemprop="region">
                  WA
                </span>
                <span itemprop="postal-code">
                  98117
                </span>
              </span>
            </div>
            <div class="right">
              <div class="email">
                <a href="mailto:aaron@aarone.org">aaron@aarone.org</a>
              </div>
              <div class="website">
                <a itemprop="url" href="http://www.aarone.org">www.aarone.org</a>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </header>

    <section id="summary">
      <h2>Summary</h2>

      <ul class="narrow">
        <li>Software developer with broad experience including development of desktop applications, back-end web services, and front-end websites</li>
        <li>Most comfortable with design and implementation of back-end Java services and Ruby on Rails websites; able to learn new technologies quickly</li>
        <li>Experience hiring and mentoring developers and growing teams</li>
        <li>Able to connect technology to business objectives</li>
      </ul>
    </section>

    <section id="experience">
      <h2>Experience</h2>
      <h3>
        <a href="http://aws.amazon.com/">Amazon Web Services</a>
        <span class="timeframe">2009 - present</span>
      </h3>
      <em>Sr. Software Development Engineer</em>

      <ul class="tight">
        <li>
          <div class="timeframe">2013 - present</div>
          EC2
          <ul>
            <li>
              Designing and implementing systems to reduce frequency and scope of large-scale availability events throughout AWS (2013)
            </li>
          </ul>
        </li>
        <li>
          <div class="timeframe">2011 - 2013</div>
          Infrastructure Supply Chain Automation
          <ul>
            <li>Founding member and technical lead for team focused on improving Infrastructure's supply chain</li>
            <li>Designed and implemented systems which led to significant reductions in procurement cycle times</li>
            <li>Grew team from 3 to ~15 members over two years</li>
            <li>Launched externally accessible portal to ingest supply chain data from vendors</li>
            <li>Active in the career development of teammates via informal mentoring, leveling for promotions, and writing promotion documents</li>
          </ul>
        <li>
          <div class="timeframe">2009 - 2011</div>
          Infrastructure Automation
          <ul>
            <li>Designed and implemented RESTful web services using Java for Amazon's server provisioning system</li>
            <li>Added support for EC2 capacity into the provisioning tools</li>
            <li>Deployed the provisioning system in several new AWS regions as part of new region builds</li>
            <li>Periodic 24/7 operational support including responding to high-severity issues</li>
            <li>Upgraded a critical MySQL database used by dozens of systems from 5.0 to 5.1 with minimal downtime and no negative impact</li>
          </ul>
        <li>
          Extracurriculars
          <ul>
            <li>Recruiting: ~500 interviews over 4 years</li>
            <li>Mentoring several SDEs</li>
            <li>Started an internal group to improve software quailty within Infrastructure</li>
            <li>Helped several teams troubleshoot MySQL performance problems</li>
            <li>
              Technologies
              <ul class="multicolumn4">
                <li>AWS Services</li>
                <li>CoffeeScript</li>
                <li>DHCP</li>
                <li>EC2</li>
                <li>Git</li>
                <li>HTML/CSS</li>
                <li>Haml/Sass</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>MySQL</li>
                <li>Perl/CGI</li>
                <li>REST</li>
                <li>RHEL</li>
                <li>Ruby/Rails</li>
                <li>Simple Workflow Service</li>
                <li>Solr/Lucene</li>
              </ul>
              <div class="clear"></div>
            </li>
          </ul>
        </li>
      </ul>
      <h3>
        <a href="http://en.wikipedia.org/wiki/Comcast_Interactive_Media">Comcast Interactive Media</a>
        <span class="timeframe">2006 - 2009</span>
      </h3>
      <em>Sr. Software Developer</em>
      <ul>
        <li>Developed features for a homegrown CMS supporting <a href="http://xfinity.comcast.net/">comcast.net</a> and <a href="http://xfinitytv.comcast.net/">fancast.com</a></li>
        <li>Developed user interfaces and publishing systems for editors to manage content</li>
        <li>Wrote software to ingest syndicated news content from various news sources</li>
        <li>Helped launch re-architecture of comcast.net</li>
        <li>Designed and implemented user-preference storage system based on the OpenSocial API and backed by MySQL</li>
        <li>
          Technologies
          <ul class="multicolumn4">
            <li>Java</li>
            <li>MySQL</li>
            <li>OSGi</li>
            <li>REST</li>
            <li>RSS/Atom</li>
            <li>Restlet</li>
            <li>Servlets</li>
            <li>Solaris</li>
            <li>Spring</li>
            <li>Squid</li>
            <li>XPath</li>
            <li>XQuery</li>
          </ul>
          <div class="clear"></div>
        </li>
      </ul>

      <h3>
        <a href="http://www.infoplusonline.com/">Bristol Capital, Inc</a>
        <span class="timeframe">2005 - 2006</span>
      </h3>
      <em>Software Developer</em>
      <ul>
        <li>Developed telephone system (PBX) reporting software for internal Mac OS X applications</li>
        <li>Parsed and imported telephone switch traffic data into a PostgreSQL database</li>
        <li>Created backup scripts and performed maintenance for a PostgreSQL database</li>
        <li>Wrote complex SQL queries to extract data for report generation and generated DocBook documents</li>
        <li>Ported a PowerPlant application to Mac OS X</li>
        <li>
          Technologies
          <ul class="multicolumn4">
            <li>Cocoa/Cocoa</li>
            <li>Mac OS X</li>
            <li>Objective-C/C++</li>
            <li>PostgreSQL</li>
          </ul>
          <div class="clear"></div>
        </li>
      </ul>
      <h3>
        Independent Mac OS Freeware Developer
        <span class="timeframe">2004 - 2006</span>
      </h3>

      <p>
        In my free time I developed an iPhoto plug-in <a href="http://www.aarone.org/smugmugexport">SmugMugExport</a> which uploads photos from iPhoto to <a href="http://www.smugmug.com/">SmugMug</a>.
      </p>

      <h3>
        <a href="http://cis.upenn.edu/">University of Pennsylvania</a>
        <span class="timeframe">2002 - 2005</span>
      </h3>

      <em>Research Assistant/Ph.D. Student</em>
      <ul>
        <li>Performed research tasks related to programming support for embedded wireless devices</li>
        <li>Passed all written preliminary exams</li>
        <li>Wrote network simulations using Python</li>
      </ul>
    </section>

    <section>
      <h2>Education</h2>

      <div class="twocolumn">
        <div class="left">
          <h3>
            <a href="http://cis.upenn.edu/">University of Pennsylvania</a>
          </h3>
          Master of Arts and Science (December 2003)
          <br>
          Major: Computer Science
          <br>
          GPA: 3.7
        </div>
        <div class="right">
          <h3>
            <a href="http://www.villanova.edu">Villanova University</a>
          </h3>
          
          Bachelor of Science and Engineering (May 2002)
          <br>
          Major: Computer Engineering
          <br>
          GPA: 3.6
          <br>
          Senior Project: A Nintendo emulator written in Java
        </div>
        <div class="clear"></div>
      </div>
    </section>

    <script>
      {% include ga.js %}
    </script>
  </body>
</html>
