---
title: Aaron Evans
---

<!DOCTYPE HTML>
%html
  %head
    %title Aaron Evans
    %link{:href => 'http://fonts.googleapis.com/css?family=Roboto:300', :rel => 'stylesheet', :type => 'text/css'}

    :scss
      body {
        background-color: white;
        color: #222;
        font-family: 'Roboto', sans-serif;
        width: 900px;
        margin: 3em;
        margin-top: 3em;
      }

      a:visited, a:link, a:hover {
        color: #003;
      }

      h2 {
        margin: 0em;
        margin-top: 1em;
        font-size: 1.6em;
        font-weight: normal;
      }

      h3 {
        margin-bottom: 0.5em;
        font-weight: normal;
        margin-top: 1em;
      }

      h4 {
        margin-bottom: 0.5em;
        font-weight: normal;
        margin-top: 0.5em;
        font-size: 1.0em;
      }

      ul.multicolumn4 {
        width: 100%;
      }

      p { margin-left: 1em; }

      ul.multicolumn4 li {
        float: left;
        width: 25%;
      }

      .twocolumn {
        .left {
          float: left;
          width: 50%;
        }
        .right {
          width: 45%;
          float: right;
        }
      }

      .clear {
        clear: both;
      }

      .narrow {
        width: 80%;
      }

      ul.tight {
        ul {  padding-left: 1.5em; }
        li {
          padding-left: 0em;
          margin-left: 0em;
        }
      }

      .contact {
        margin-bottom: 2em;
        h2 { font-size: 1.9em; margin-top: 0em;}
        .right {
          text-align: right;
          padding-right: 0em;
        }
        .twocolumn .left {
          width: 50%;
        }
        .twocolumn .right {
          width: 45%;
        }
      }

      .timeframe {
        float: right;
        font-style: italic;
        font-weight: normal;
        font-size: .9em;
      }

  %body
    %header
      .contact
        .twocolumn
          .left
            %h2 Aaron Evans
            7054 13th Ave NW,
            Seattle, WA 98117
          .right
            .email
              %a{:href => "mailto:aaron@aarone.org"}
                aaron@aarone.org
            .website
              %a{:href => "http://www.aarone.org"}
                www.aarone.org
        .clear


    %section
      %h2 Summary

      %ul.narrow
        %li Software developer with broad experience including development of desktop applications, back-end web services, and front-end websites
        %li Most comfortable with design and implementation of back-end Java services and Ruby on Rails websites; able to learn new technologies quickly
        %li Experience hiring and mentoring developers and growing teams
        %li Able to connect technology to business objectives

    %section
      %h2 Experience

      %h3
        <a href="http://aws.amazon.com/">Amazon Web Services</a>
        %span.timeframe 2009 - present

      %em Sr. Software Development Engineer

      %ul.tight
        %li
          .timeframe 2013 - present
          EC2
          %ul
            %li Designing and implementing systems to reduce impact of large-scale availability events throughout AWS (2013)
        %li
          .timeframe 2011 - 2013
          Infrastructure Supply Chain Automation
          %ul
            %li Founding member and technical lead for team focused on improving Infrastructure's supply chain
            %li Designed and implemented systems which led to significant reductions in procurement cycle times
            %li Grew team from 3 to ~15 members over two years
            %li Launched externally accessible portal to ingest supply chain data from vendors
            %li Active in the career development of teammates via informal mentoring, leveling for promotions, and writing promotion documents
        %li
          .timeframe 2009 - 2011
          Infrastructure Automation
          %ul
            %li Designed and implemented RESTful web services using Java for Amazon's server provisioning system
            %li Added support for EC2 capacity into the provisioning tools
            %li Deployed the provisioning system in several new AWS regions as part of new region builds
            %li Periodic 24/7 operational support including responding to high-severity issues
            %li Upgraded a critical MySQL database used by dozens of systems from 5.0 to 5.1 with minimal downtime and no negative impact
        %li
          Extracurriculars
          %ul
            %li Recruiting: ~400 interviews over 3 years
            %li Mentoring several SDEs
            %li Started an internal group to improve software quailty within Infrastructure
            %li
              Awarded <a href="http://www.google.com/patents/US8417578">Patent 8,417,578</a> -
              %em
                Customizing Component Configurations For Utility Computing
            %li Helped several teams troubleshoot MySQL performance problems
        %li
          Technologies
          %ul.multicolumn4
            %li AWS Services
            %li CoffeeScript
            %li DHCP
            %li Git
            %li HTML/CSS
            %li Haml/Sass
            %li Java
            %li JavaScript
            %li MySQL
            %li PXE
            %li Perl/CGI
            %li REST
            %li RHEL
            %li Ruby/Rails
            %li Simple Workflow Service
            %li Solr/Lucene
          .clear

      %h3
        <a href="http://en.wikipedia.org/wiki/Comcast_Interactive_Media">Comcast Interactive Media</a>
        %span.timeframe 2006 - 2009

      %em Sr. Software Developer

      %ul
        %li Developed features for a homegrown CMS supporting <a href="http://xfinity.comcast.net/">comcast.net</a> and <a href="http://xfinitytv.comcast.net/">fancast.com</a>
        %li Developed user interfaces and publishing systems for editors to manage content
        %li Wrote software to ingest syndicated news content from various news sources
        %li Helped launch re-architecture of comcast.net
        %li Designed and implemented user-preference storage system based on the OpenSocial API and backed by MySQL
        %li
          Technologies
          %ul.multicolumn4
            %li Java
            %li MySQL
            %li OSGi
            %li REST
            %li RSS/Atom
            %li Restlet
            %li Servlets
            %li Solaris
            %li Spring
            %li Squid
            %li XPath
            %li XQuery
          .clear

      %h3
        <a href="http://www.infoplusonline.com/">Bristol Capital, Inc</a>
        %span.timeframe 2005 - 2006

      %em Software Developer
      %ul
        %li Developed telephone system (PBX) reporting software for internal Mac OS X applications
        %li Parsed and imported telephone switch traffic data into a PostgreSQL database
        %li Created backup scripts and performed maintenance for a PostgreSQL database
        %li Wrote complex SQL queries to extract data for report generation and generated DocBook documents
        %li Ported a PowerPlant application to Mac OS X
        %li
          Technologies
          %ul.multicolumn4
            %li Cocoa/Cocoa
            %li Mac OS X
            %li Objective-C/C++
            %li PostgreSQL

          .clear

      %h3
        Independent Mac OS Freeware Developer
        %span.timeframe 2004 - 2006

      %p In my free time I developed an iPhoto plug-in <a href="http://www.aarone.org/smugmugexport">SmugMugExport</a> which uploads photos from iPhoto to <a href="http://www.smugmug.com/">SmugMug</a>.

      %h3
        <a href="http://cis.upenn.edu/">University of Pennsylvania</a>
        %span.timeframe 2002 - 2005

      %em Research Assistant/Ph.D. Student
      %ul
        %li Performed research tasks related to programming support for embedded wireless devices
        %li Passed all written preliminary exams
        %li Wrote network simulations using Python

    %section    
      %h2 Education

      .twocolumn
        .left
          %h3 <a href="http://cis.upenn.edu/">University of Pennsylvania</a>

          Master of Arts and Science (December 2003)
          %br
          Major: Computer Science
        .right
          %h3 <a href="http://www.villanova.edu">Villanova University</a>

          Bachelor of Science and Engineering (May 2002)
          %br
          Major: Computer Engineering
          %br
          Senior Project: A Nintendo emulator written in Java
        .clear


    :javascript

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-599950-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
