---
title: Aaron Evans
---

<!DOCTYPE HTML>
%html
  %head
    %title Aaron Evans
    %meta{'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8"}
    %style{:type => 'text/css'}
      :scss
        @media print, screen {
          body {
            background-color: #FEFEFE;
            color: #003;
            font-family: "Lucida Grande", Verdana, "Trebuchet MS",  sans-serif;
            width: 700px;
            margin: 6em;
            margin-top: 4em;
          }

          h2 {
            margin-top: 0em;
          }

          h4 {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
          }

          h3 {
           font-size: 1.4em;
           margin-bottom: .5em;
          }

          h3.experience {
            margin: 0em;
          }

          .contact {
            float: left;
            width: 30%;
            h2 { margin-bottom: 0em; }
          }

          .summary {
            float: right;
            margin-top: 0em;
            margin-left: 5%;
            h3 {
              margin: 0em;
              padding: 0em;
              padding-bottom: 0.25em;
            }
            ul {
              margin: 0em;
              list-style-type: none;
              margin-left: 1.5em;
              padding-left: 0em;
              float: right;
            }
            li {
              margin-left: 0em;
              padding-left: 0em;
            }
            li:before { content: "- "; }
            .ilike {
              float: left;
              margin-top: 1.7em;
              font-size: 1.5em;
              font-weight: bold;
            }
          }

          .timeframe {
            float: right;
            font-style: italic;
            font-size: .9em;
          }

          .company-name, h4 {
            font-size: 1.1em;
            font-weight: bold;
          }

          .position-details {}

          .job-title {
            font-style: italic;
          }

          .details {
            margin-bottom: 4px;
            margin-top: .5em;
            margin-left: 1em;
          }

          ul.multi-column {
            width: 48em;
          }

          ul.multi-column li {
            float: left;
            width: 16em;
          }

          ul.multi-column + br {
            clear: left;
          }

          .used-for-styling {
            clear: both;
          }
        }

        @media print {
           body { font-size: 0.65em }
        }

        @media screen {
            body { font-size: 0.75em }
        }
  %body
    .contact
      %h2 Aaron Evans
      7054 13th Ave NW<br />
      Seattle, WA 98117<br />
      %a{:href => "mailto:aaron@aarone.org"}
        aaron@aarone.org
      %br
      %a{:href => "http://aarone.org"}
        http://aarone.org

    .summary
      %h3 Interests
      %ul
        %li building software systems that make people's lives better
        %li helping others be better at what they do
        %li building teams
        %li making a big impact
        %li working hard
        %li spending time with my family

    .used-for-styling

    %h3.exprience Experience

    .company
      .company-name Amazon Web Services
      .position-details
        .timeframe 2012 - present
        .job-title Sr. Software Development Engineer - Infrastructure Supply Chain Automation
        .details Lead developer for Infrastructure Supply Chain Systems
      .position-details
        .timeframe 2009 - 2012
        .job-title Software Development Engineer - Infrastructure Automation
        .details Developed features for and maintained Amazon's server provisioning system

    .company
      .timeframe 2006 - 2009
      .company-name Comcast Interactive Media
      .position-details
        .job-title Sr. Software Developer
        .details Designed and implemented back-end systems supporting features for <a href="http://xfinity.comcast.net/">comcast.net</a> and <a href="http://xfinitytv.comcast.net/">fancast.com</a>

    .company
      .timeframe 2005 - 2006
      .company-name Bristol Capital, Inc
      .position-details
        .job-title Software Developer
        .details Developed Cocoa-based telephone system reporting software

    .company
      .timeframe 2002 - 2005
      .company-name University of Pennsylvania
      .position-details
        .job-title Research Assistant/Ph.D. Student
        .details Performed research tasks related to programming support for embedded wireless devices

    %h3 Education
    %h4 University of Pennsylvania

    .position-details
      Master of Arts and Science (December 2003)<br />
      Major: Computer Science

    %h4 Villanova University
    .position-details
      Bachelor of Science and Engineering (May 2002)<br />
      Major: Computer Engineering

    %h3 Technical Skills
    %ul.multi-column
      %li AWS
      %li Git/Subversion/CVS
      %li HTML/CSS/JavaScript
      %li Java
      %li MySQL
      %li Perl
      %li REST
      %li Ruby on Rails
      %li Unix

    %br.used-for-styling

    %script{:src => "http://www.google-analytics.com/urchin.js",  :type => "text/javascript"}
      :javascript
        _uacct = "UA-599950-2";
        urchinTracker();
