---
title: Evans Timeline
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>Evans Timeline</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
    <style>
      {% include timeline.css %}
    </style>
  </head>
  <body>
    <div id="page">
      <header>
        <h2>Evans Timeline</h2>
        <p>This idea is borrowed from <a href="http://zonezero.com/magazine/essays/diegotime/time.html">Diego Godlberg's The Arrow of Time</a>. Photos are taken at the beginning of each year or the end of the prior year.
        </p>
      </header>
      <section>
        <div id="timeline">
          <div class="row">
            <span>Year</span>
            <span>Aaron</span>
            <span>Season</span>
            <span>Claire</span>
            <span>Cora</span>
          </div>
          <div class="row">
            <span>2007</span>
            <span><img src="images/timeline/2007/aaron.jpg" alt="aaron 2007"/></span>
            <span><img src="images/timeline/2007/season.jpg" alt="season 2007" /></span>
            <span></span>
            <span></span>
          </div>
          <div class="row">
            <span>2008</span>
            <span><img src="images/timeline/2008/aaron.jpg" alt="aaron 2008" /></span>
            <span><img src="images/timeline/2008/season.jpg" alt="season 2008" /></span>
            <span></span>
            <span></span>
          </div>
          <div class="row">
            <span>2009</span>
            <span><img src="images/timeline/2009/aaron.jpg" alt="aaron 2009" /></span>
            <span><img src="images/timeline/2009/season.jpg" alt="season 2009" /></span>
            <span><img src="images/timeline/2009/claire.jpg" alt="claire 2009" /></span>
            <span></span>
          </div>
          <div class="row">
            <span>2010</span>
            <span><img src="images/timeline/2010/aaron.jpg" alt="aaron 2010" /></span>
            <span><img src="images/timeline/2010/season.jpg" alt="season 2010" /></span>
            <span><img src="images/timeline/2010/claire.jpg" alt="claire 2010" /></span>
            <span></span>
          </div>
          <div class="row">
            <span>2011</span>
            <span><img src="images/timeline/2011/aaron.jpg" alt="aaron 2011" /></span>
            <span><img src="images/timeline/2011/season.jpg" alt="season 2011" /></span>
            <span><img src="images/timeline/2011/claire.jpg" alt="claire 2011" /></span>
            <span><img src="images/timeline/2011/cora.jpg" alt="cora 2011" /></span>
          </div>
          <div class="row">
            <span>2012</span>
            <span><img src="images/timeline/2012/aaron.jpg" alt="aaron 2012" /></span>
            <span><img src="images/timeline/2012/season.jpg" alt="season 2012" /></span>
            <span><img src="images/timeline/2012/claire.jpg" alt="claire 2012" /></span>
            <span><img src="images/timeline/2012/cora.jpg" alt="cora 2012" /></span>
          </div>
          <div class="row">
            <span>2013</span>
            <span><img src="images/timeline/2013/aaron.jpg" alt="aaron 2013" /></span>
            <span><img src="images/timeline/2013/season.jpg" alt="season 2013" /></span>
            <span><img src="images/timeline/2013/claire.jpg" alt="claire 2013" /></span>
            <span><img src="images/timeline/2013/cora.jpg" alt="cora 2013" /></span>
          </div>
          <div class="row">
            <span>2014</span>
            <span><img src="images/timeline/2014/aaron.jpg" alt="aaron 2014" /></span>
            <span><img src="images/timeline/2014/season.jpg" alt="season 2014" /></span>
            <span><img src="images/timeline/2014/claire.jpg" alt="claire 2014" /></span>
            <span><img src="images/timeline/2014/cora.jpg" alt="cora 2014" /></span>
          </div>
        </div>
      </section>

      <footer>
        <div id='copy'>
          &copy;
          <script>document.write(new Date().getFullYear())</script>
          <a href="//www.aarone.org">Aaron Evans</a>
          All Rights Reserved.
        </div>
      </footer>
      <script>
        {% include ga.js %}
      </script>
      <script>
        {% include retina.1.2.0.js %}
      </script>
    </div>
  </body>
</html>
