---
title: Evans Timeline
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>The Evans Timeline</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
    <style>
      {% include timeline.css %}
    </style>
  </head>
  <body>
    <h2>The Evans Timeline</h2>
    <p>Each year we take portraits of each member of the family.  This idea is borrowed from <a href="http://zonezero.com/magazine/essays/diegotime/time.html">Diego Godlberg's The Arrow of Time</a>. All photos are kept in a <a href="http://aarone.smugmug.com/gallery/7006044_RUvjw">gallery</a> at <a href="http://smugmug.com">SmugMug</a>.  Photos are taken at the beginning of each year or the end of the prior year.</p>
    <table class='timeline'>
      <thead>
        <tr>
          <th>Year</th>
          <th>Aaron</th>
          <th>Season</th>
          <th>Claire</th>
          <th>Cora</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2007</td>
          <td><img src="images/timeline/2007/aaron.jpg" alt="aaron 2007"/></td>
          <td><img src="images/timeline/2007/season.jpg" alt="season 2007" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2008</td>
          <td><img src="images/timeline/2008/aaron.jpg" alt="aaron 2008" /></td>
          <td><img src="images/timeline/2008/season.jpg" alt="season 2008" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2009</td>
          <td><img src="images/timeline/2009/aaron.jpg" alt="aaron 2009" /></td>
          <td><img src="images/timeline/2009/season.jpg" alt="season 2009" /></td>
          <td><img src="images/timeline/2009/claire.jpg" alt="claire 2009" /></td>
          <td></td>
        </tr>
        <tr>
          <td>2010</td>
          <td><img src="images/timeline/2010/aaron.jpg" alt="aaron 2010" /></td>
          <td><img src="images/timeline/2010/season.jpg" alt="season 2010" /></td>
          <td><img src="images/timeline/2010/claire.jpg" alt="claire 2010" /></td>
          <td></td>
        </tr>
        <tr>
          <td>2011</td>
          <td><img src="images/timeline/2011/aaron.jpg" alt="aaron 2011" /></td>
          <td><img src="images/timeline/2011/season.jpg" alt="season 2011" /></td>
          <td><img src="images/timeline/2011/claire.jpg" alt="claire 2011" /></td>
          <td><img src="images/timeline/2011/cora.jpg" alt="cora 2011" /></td>
        </tr>
        <tr>
          <td>2012</td>
          <td><img src="images/timeline/2012/aaron.jpg" alt="aaron 2012" /></td>
          <td><img src="images/timeline/2012/season.jpg" alt="season 2012" /></td>
          <td><img src="images/timeline/2012/claire.jpg" alt="claire 2012" /></td>
          <td><img src="images/timeline/2012/cora.jpg" alt="cora 2012" /></td>
        </tr>
        <tr>
          <td>2013</td>
          <td><img src="images/timeline/2013/aaron.jpg" alt="aaron 2013" /></td>
          <td><img src="images/timeline/2013/season.jpg" alt="season 2013" /></td>
          <td><img src="images/timeline/2013/claire.jpg" alt="claire 2013" /></td>
          <td><img src="images/timeline/2013/cora.jpg" alt="cora 2013" /></td>
        </tr>
      </tbody>
    </table>
    <div id='copy'>
      &copy;
      <script>document.write(new Date().getFullYear())</script>
      All Rights Reserved.
    </div>
    <script>
      {% include ga.js %}
    </script>
    <script>
      {% include retina.js %}
    </script>
  </body>
</html>
